{% extends 'index.html' %}

{% block contenido %}



<p>Somos un grupo de profesionales que ofrecemos nuestros mejores conocimientos y experiencia, para conseguir que los estudiantes 
alcancen las metas que se propongan de la forma más fácil y rápida posible. 
Para tal efecto disponemos de nuestra experiencia en nuestras vidas profesionales, que nos ha permitido identificar carencias en estudiantes. Esta
herramienta esta orientada a suplirlas.
 </p>

 </div>
 {% endblock %}

 {% block lateral %}
     <div class="card" style="width: 240px;">
  <img class="card-img-top" src="img_avatar1.png" alt="Card image">
  <div class="card-body">
    <h4 class="card-title">John Doe</h4>
    <p class="card-text">Some example text.</p>
    <a href="#" class="btn btn-primary">See Profile</a>
  </div>
</div>
{% endblock lateral %}





