{% extends 'index.html' %}


{% block contenido %}

<div  style="height:5px" class="jumbotron">
<div style="margin-left:auto;margin-right: auto;">
  <h5>Bienvenido a la Gestión de Soluciones</h5>
  <p>El siguiente módulo está reservado solo para el grupo de desarrollo del sitio</p>
 </div>
</div>

<form name = "form" enctype="multipart/form-data" method = "POST" action="" enctype="multipart/form-data"> {% csrf_token %}
     <div class="card bg-info" style="width:70%;margin-left: auto;margin-right: auto; background:#D8D8D8">

          <center><h4>Nuevo Problema</h4></center>

         <dif class="card-body  text-white" style="background:#D8D8D8">
<table class="table" style="background:#CCEEFF">
          {{formulario.as_table}}
</table>
     <dif class="d-flex justify-content-end">
     <input type="reset" value="Cancelar" class="btn btn-secondary">
  &nbsp;
    <input type="submit" value="Enviar" class="btn btn-primary">
                 </dif>
           </dif>

          </div>

 </form>
{% endblock contenido %}


