<!DOCTYPE html>
{% extends "index.html" %}
{% load static %}
{% block contenido %}




  <!-- Template Main CSS File -->
  

<section class="Pricing">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Promociones</h2>
        <p>Nuestros ejercicios son una excelente vía de aprendizaje,  nuestras ofertas son únicas</p>
      </div>

      <div class="row">

        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
          <div class="box">
            <h3>Plan mínimo</h3>
            <h4><sup>CUP</sup>50<span>por Mes</span></h4>
            <ul>
              <li><i class="bx bx-check"></i> 10 Ejercicios Resueltos de Matemáticas(Aleatorios)</li>
              <li><i class="bx bx-check"></i> 10 Ejercicios Resueltos de Física(Aleatorios)</li>
              <li><i class="bx bx-check"></i> 10 Ejercicios Resueltos de Fundamentos de las Comunicaciones(Aleatorios)</li>
              <li class="na"><i class="bx bx-x"></i> <span>Bibliografía Limitada</span></li>
              <li class="na"><i class="bx bx-x"></i> <span>No Video, No Audio</span></li>
            </ul>
            <a href="#" class="buy-btn">Adquirir Plan</a>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="200">
          <div class="box featured">
            <h3>Plan Medio</h3>
            <h4><sup>CUP</sup>150<span>por Mes</span></h4>
            <ul>
              <li><i class="bx bx-check"></i> 15 Ejericios Resueltos de Física (Su Selección))</li>
              <li><i class="bx bx-check"></i> 15 Ejericios Resueltos de Matemáticas(Su Selección)</li>
              <li><i class="bx bx-check"></i> 5 Ejericios Resueltos de Circuitos(Su Selección)</li>
              <li><i class="bx bx-check"></i>Bibliografía Avanzada</li>
              <li><i class="bx bx-check"></i>No Video, No Audio</li>
            </ul>
            <a href="#" class="buy-btn">Adquirir Plan</a>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
          <div class="box">
            <h3>Plan Máximo</h3>
            <h4><sup>CUP</sup>250<span>por Mes</span></h4>
            <ul>
                <li><i class="bx bx-check"></i> 20 Ejericios Resueltos de Física (Su Selección))</li>
                <li><i class="bx bx-check"></i> 20 Ejericios Resueltos de Matemáticas(Su Selección)</li>
                <li><i class="bx bx-check"></i> 10 Ejericios Resueltos de Circuitos(Su Selección)</li>
                <li><i class="bx bx-check"></i>Bibliografía Ilimitada</li>
                <li><i class="bx bx-check"></i>Video,Audio</li>
            </ul>
            <a href="#" class="buy-btn">Adquirir Plan</a>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Pricing Section -->


 {% endblock %}