{% extends 'index.html' %}
{% block contenido %}
<div  style="height: 20px" class="jumbotron">
<div style="margin-left:auto;margin-right: auto;">
  <br>
  <p>Paquete  de {{pkt}}</p>
 </div>
</div>

 <br>
<div>
       <button type="button" class="btn btn-primary hBack"><a href="{%url 'mipkt' pkt %}">Volver</a></button>
    </div>
<br>


<div class="row" style="width: 100%;height: 100%" >

  <div class="col-md-8"  >
        <embed src="{{solucion.problemaSolucion.url}}" width="100%" height="600px" ></embed>
  </div>

<div class="col-md-4">

  <img src="{{solucion.problemaProblema.url}}" >
    <br>
    <br>
    <hr size="8px" color="black" />

  <div class="row">

      <audio id="medio" controls>Escuchar
        <source src="{{solucion.problemaVideo.url}}">
</audio>
  </div>
</div>


</div>

</div>
<script>$(".hBack").on("click", function(e){
    e.preventDefault();
    window.history.back();
});</script>
{% endblock %}




